/* Toolbar */
.toolbar {
    background-image: url(../assets/bubbles/bubble-bottom.svg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 197px;
    height: 98px;
    padding-top: 20px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.bubble-bottom-r {
    background-image: url(../assets/bubbles/bubble-bottom-r.svg);
}

.bubble-bottom-l {
    background-image: url(../assets/bubbles/bubble-bottom-l.svg);
}

.bubble-top {
    background-image: url(../assets/bubbles/bubble-top.svg);
    padding-top: 13px;
}

.bubble-top-l {
    background-image: url(../assets/bubbles/bubble-top-l.svg);
    padding-top: 13px;
}

.bubble-top-r {
    background-image: url(../assets/bubbles/bubble-top-r.svg);
    padding-top: 13px;
}

.toolbar-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 74px;
    margin-right: 10px;
}

.toolbar-column:first-child {
    margin-left: 25px;
}

.toolbar-column:last-child {
    margin-right: 25px;
}

.toolbar button {
    border: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
}

.toolbar button:hover {
    cursor: pointer;
}

.toolbar .bold {
    width: 14px;
    height: 17px;
    margin-left: 3px;
    background-image: url(../assets/buttons/bold.svg);
}

.toolbar .italic {
    width: 11px;
    height: 17px;
    margin-left: 6px;
    background-image: url(../assets/buttons/italic.svg);
}

.toolbar .h2 {
    width: 22px;
    height: 14px;
    margin-left: 3px;
    background-image: url(../assets/buttons/h2.svg);
}

.toolbar .h3 {
    width: 22px;
    height: 14px;
    margin-bottom: 5px;
    margin-left: 2px;
    background-image: url(../assets/buttons/h3.svg);
}

.toolbar .ord-list {
    width: 19px;
    height: 21px;
    background-image: url(../assets/buttons/ord-list.svg);
}

.toolbar .unord-list {
    width: 19px;
    height: 22px;
    background-image: url(../assets/buttons/unord-list.svg);
}

.toolbar .blockquote {
    width: 27px;
    height: 20px;
    background-image: url(../assets/buttons/blockquote.svg);
}

.toolbar .link {
    width: 25px;
    height: 8px;
    margin-bottom: 6px;
    background-image: url(../assets/buttons/link.svg);
}
/* Toolbar */