/* Toolbar */
.toolbar {
    background-image: url(../assets/bubbles/bubble-bottom.svg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 193px;
    height: 95px;
    padding-top: 20px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10;
}

.bubble-bottom-r {
    background-image: url(../assets/bubbles/bubble-bottom-r.svg);
}

.bubble-bottom-l {
    background-image: url(../assets/bubbles/bubble-bottom-l.svg);
}

.bubble-top {
    background-image: url(../assets/bubbles/bubble-top.svg);
    height: 100px;
    padding-top: 13px;
}

.bubble-top-l {
    background-image: url(../assets/bubbles/bubble-top-l.svg);
    height: 100px;
    padding-top: 13px;
}

.bubble-top-r {
    background-image: url(../assets/bubbles/bubble-top-r.svg);
    height: 100px;
    padding-top: 13px;
}

.toolbar-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 74px;
    margin-right: 10px;
}

.toolbar-column:first-child {
    margin-left: 25px;
}

.toolbar-column:last-child {
    margin-right: 25px;
}

.toolbar button {
    border: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
}

.toolbar button:hover {
    cursor: pointer;
}

.toolbar .bold {
    width: 14px;
    height: 17px;
    margin-left: 3px;
    background-image: url(../assets/buttons/bold.svg);
}

.toolbar .italic {
    width: 11px;
    height: 17px;
    margin-left: 6px;
    background-image: url(../assets/buttons/italic.svg);
}

.toolbar .h2 {
    width: 22px;
    height: 14px;
    margin-left: 3px;
    background-image: url(../assets/buttons/h2.svg);
}

.toolbar .h3 {
    width: 22px;
    height: 14px;
    margin-bottom: 5px;
    margin-left: 2px;
    background-image: url(../assets/buttons/h3.svg);
}

.toolbar .ord-list {
    width: 19px;
    height: 21px;
    background-image: url(../assets/buttons/ord-list.svg);
}

.toolbar .unord-list {
    width: 19px;
    height: 22px;
    background-image: url(../assets/buttons/unord-list.svg);
}

.toolbar .blockquote {
    width: 27px;
    height: 20px;
    background-image: url(../assets/buttons/blockquote.svg);
}

.toolbar .link {
    width: 25px;
    height: 8px;
    margin-bottom: 6px;
    background-image: url(../assets/buttons/link.svg);
}
/* Toolbar */

/* Sidebar */
.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 44px;
    width: 44px;
}

.picture {
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    background-image: url(../assets/buttons/picture-button.svg);
    height: 44px;
    width: 44px;
}

.picture-pushed {
    background-image: url(../assets/buttons/picture-button-pushed.svg);
    height: 36px;
    width: 36px;
}

.picture:hover {
    cursor: pointer;
}

.picture-input-wrapper {
    background-image: url(../assets/pic/picture-link.svg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 198px;
    height: 63px;
    padding: 0 23px;
}

.picture-input {
    width: 170px;
    height: 23px;
    border: none;
    font-size: 14px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.72);
}

.picture-input:focus {
    outline: none;
}

.picture-input::placeholder {
    color: rgba(0, 0, 0, 0.72);
}

.picture-accept {
    width: 22px;
    height: 17px;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../assets/buttons/check.svg);
    background-color: white;
}

.picture-accept:hover {
    cursor: pointer;
}
/* Sidebar */

/* Link input */
.link-input-wrapper {
    background-image: url(../assets/links/link-bubble-bottom.svg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 217px;
    height: 63px;
    padding: 0 23px;
}

.link-bubble-bottom-l {
    background-image: url(../assets/links/link-bubble-bottom-l.svg);
}

.link-bubble-bottom-r {
    background-image: url(../assets/links/link-bubble-bottom-r.svg);
}

.link-bubble-top {
    background-image: url(../assets/links/link-bubble-top.svg);
    height: 47px;
    padding-bottom: 16px;
}

.link-bubble-top-l {
    background-image: url(../assets/links/link-bubble-top-l.svg);
    height: 47px;
    padding-bottom: 16px;
}

.link-bubble-top-r {
    background-image: url(../assets/links/link-bubble-top-r.svg);
    height: 47px;
    padding-bottom: 16px;
}

.link-input {
    width: 170px;
    height: 23px;
    border: none;
    font-size: 14px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.72);
}

.link-input:focus {
    outline: none;
}

.link-input::placeholder {
    color: rgba(0, 0, 0, 0.72);
}

.gradient {
    top: 20px;
    right: 68px;
    content: "";
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); 
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
    width: 35px;
    height: 23px;
    position: absolute;
}

.post-link {
    width: 25px;
    height: 8px;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../assets/buttons/link.svg);
    background-color: white;
}

.post-link:hover {
    cursor: pointer;
}
/* Link input */

.move-right {
    right: 50px;
}