.bear-editor {
    position: relative;
    width: 100%;
    border: 1px solid black;
    height: 100%;
    overflow-y: scroll;
}

.DraftEditor-root {
    height: 100%;
    width: 100%;
}

.DraftEditor-editorContainer {
    padding: 75px 83px 75px 83px;
}

.bear-editor h1 span > span {
    font-size: 28px;
    color: #474747;
}

.bear-editor h2 span > span {
    font-size: 23px;
    color: #474747;
}

.bear-editor h3 span > span {
    font-size: 20px;
    color: #474747;
}

.bear-editor div > .public-DraftStyleDefault-block > span > span {
    font-size: 15px;
    line-height: 1.8em;
}

.bear-editor .public-DraftStyleDefault-ol {
    font-size: 15px;
    line-height: 1.8em;
    padding-inline-start: 18px;
}

.bear-editor .public-DraftStyleDefault-ul {
    font-size: 15px;
    line-height: 1.8em;
    padding-inline-start: 18px;
    list-style: none;
}

.bear-editor .public-DraftStyleDefault-ul li::before {
    color: #3C92CA;
    content: "\2022";
    /* content: "😎"; */
    padding-right: 1em;
    font-weight: 800;
}

/* TEMPORARY */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#root {
    width: 500px;
    height: 500px;
}
/* TEMPORARY */
.link {

    color: #3b5998;
    text-decoration: 'underline';
}
/* .bear-editor img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
} */