.bear-editor {
    position: relative;
    margin-left: 400px;
    margin-top: 200px;
    width: 500px;
    border: 1px solid black;
    height: 500px;
    overflow-y: scroll;
}

.DraftEditor-root {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    padding: 5px;
}