.bear-editor {
    position: relative;
    width: 100%;
    border: 1px solid black;
    height: 100%;
    overflow-y: scroll;
}

.DraftEditor-root {
    height: 100%;
    width: 100%;
}

.DraftEditor-editorContainer {
    padding: 75px 83px 75px 83px;
}

#root {
    margin-left: 400px;
    margin-top: 200px;
    width: 716px;
    height: 500px;
}